.header{
	margin-bottom: 20px;
}
.add_btnPosition{
	float: left;
}
.search_boxPosition{
	float: right;
}
.width33{
	width: 33%;
}
.width34{
	width: 34%;
}
.width25{
	width: 25%;
}
.text20{
	text-indent: 20px;
}
.input_position{
	position: fixed;
	top: 30%;
	left: 0px;
	right: 0px;
	box-shadow: #ccc 0 0 5px 0;
}
.height300{
	height: 300px;
}
.height160{
	height: 160px;
}
