<link href="assets/css/statistic/statistic.css" rel="stylesheet" type="text/css" >
<div ng-include="'components/navbar/navbar.html'"></div>
<!-- 内容部分max-width:1280px;min-width:? -->

<div class="content ">
	<div class="content_body htmSize">
	<!-- 这里开始显示不同页面 -->
		<div class="header" style="position:relative">
			<div style="display: flex;align-items: center;">
				<div style="display: flex;align-items: center">
					<div class="search_box dateBox">
						<div class="search_input blackAlpha54" ng-bind="'From:'+(statisticCtrl.startTime | date:'MMM d, yyyy')">今天</div>
						<div class="calendar_btn" ng-click="statisticCtrl.showStartTime=!statisticCtrl.showStartTime"></div>
					</div>
					<div>
						<timepicker ng-model="statisticCtrl.startTime" show-meridian="false"></timepicker>
					</div>
				</div>
				<div style="display: flex;align-items: center;padding-left: 10px;">
					<div class="search_box dateBox">
						<div class="search_input blackAlpha54" ng-bind="'To:'+(statisticCtrl.endTime | date:'MMM d, yyyy')">今天</div>
						<div class="calendar_btn" ng-click="statisticCtrl.showEndTime=!statisticCtrl.showEndTime"></div>
					</div>
					<div>
						<timepicker ng-model="statisticCtrl.endTime" show-meridian="false"></timepicker>
					</div>
				</div>
				<div style="padding-left: 10px;">
					<div class="search_btn" ng-click="statisticCtrl.select()"></div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="datepickerPosition">
				<datepicker class="from-data" style="box-shadow: 0 0 20px #aaa;" ng-show="statisticCtrl.showStartTime" ng-model="statisticCtrl.startTime"  datepicker-mode="year"></datepicker>
			</div>
			
			<div class="datepickerPosition secondDate">
				<datepicker class="from-data" style="box-shadow: 0 0 20px #aaa;" ng-show="statisticCtrl.showEndTime" ng-model="statisticCtrl.endTime"  datepicker-mode="year"></datepicker>
			</div>
		</div>

		

		<div style="padding-top: 30px;">
			<div class="table_captions">
				<div class="table_caption textIndent20" style="width: 10%">{{statisticCtrl.languagePack.restaurant.statistic.cashCost}}</div>
				<div class="table_caption" style="width: 10%">银联消费</div>
				<div class="table_caption" style="width: 10%">信用卡消费</div>
				<div class="table_caption" style="width: 10%">Nets</div>
				<div class="table_caption" style="width: 10%">Visa</div>
				<div class="table_caption" style="width: 10%">Master</div>
				<div class="table_caption" style="width: 10%">Amex's</div>
				<div class="table_caption" style="width: 10%">Diners</div>
				<div class="table_caption" style="width: 10%">Grab pay</div>
				<div class="table_caption" style="width: 10%">Alipay</div>
				
				<!-- <div class="table_caption width14"></div> -->
			</div>
			<div class="table_contents">
				<div class="table_content ellipsis textIndent20" style="width: 10%" ng-bind="statisticCtrl.statistic.cashCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.unionPayCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.creditCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.netCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.visaCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.masterCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.amexsCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.dinersCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.grabPayCost | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.aliPayCost | currency:'$'"></div>
			</div>
		</div>
		<div style="padding-top: 30px;">
			<div class="table_captions">
				<div class="table_caption textIndent20" style="width: 10%">Wechat</div>
				<div class="table_caption" style="width: 10%">{{statisticCtrl.languagePack.restaurant.statistic.discountCost}}</div>
				<div class="table_caption" style="width: 10%">优惠券数</div>
				<div class="table_caption" style="width: 10%">优惠券总值</div>
				<div class="table_caption" style="width: 10%">{{statisticCtrl.languagePack.restaurant.statistic.orderCount}}</div>
			</div>
			<div class="table_contents">
				<div class="table_content textIndent20"  style="width: 10%" ng-bind="statisticCtrl.statistic.wechatCost | currency:'$'"></div>
				<div class="table_content ellipsis unique_color" style="width: 10%" ng-bind="statisticCtrl.statistic.discountCost  | currency:'$'"></div>
				<div class="table_content"  style="width: 10%" ng-bind="statisticCtrl.statistic.couponNum"></div>
				<div class="table_content"  style="width: 10%" ng-bind="statisticCtrl.statistic.allCouponValue  | currency:'$'"></div>
				<div class="table_content ellipsis" style="width: 10%" ng-bind="statisticCtrl.statistic.orderCount"></div>
			</div>
		</div>
		<div style="padding-top: 30px;">
			<div class="table_captions">
				<div class="table_caption textIndent20" style="width: 10%">时间</div>
				<div class="table_caption" style="width: 10%">桌号</div>
				<div class="table_caption" style="width: 10%">支付方式</div>
				<div class="table_caption" style="width: 10%">折扣</div>
				<div class="table_caption" style="width: 10%">订单总价</div>
				<div class="table_caption" style="width: 10%">优惠券</div>
				<div class="table_caption" style="width: 10%">优惠券值</div>
				<div class="table_caption" style="width: 10%">实际付款</div>
			</div>
			<div class="table_contents" ng-repeat= "order in statisticCtrl.statistic.orders">
				<div class="table_content textIndent20"  style="width: 10%" ng-bind="order.createDate | date:'HH:mm'"></div>
				<div class="table_content" style="width: 10%" ng-bind="order.table.name"></div>
				<div class="table_content" style="width: 10%" ng-bind="order.payment"></div>
				<div class="table_content" style="width: 10%" ng-bind="order.discount === 1?'':order.discount.toFixed(2)"></div>
				<div class="table_content" style="width: 10%" ng-bind="order.subtotal | currency:'$'"></div>
				<div class="table_content" style="width: 10%" ng-bind="order.coupon_name"></div>
				<div class="table_content" style="width: 10%" ng-bind="order.coupon_value ===0?'': (order.coupon_value| currency:'$')"></div>
				<div class="table_content" style="width: 10%" ng-bind="order.coupon_after === 0?(order.subtotal| currency:'$'):(order.coupon_after | currency:'$')"></div>
			</div>
		</div>
	</div>
	<!-- <pagination style="float:right;margin-right:200px;" ng-if="statisticCtrl.pagination.numPages > 1" total-items="statisticCtrl.pagination.totalItems" ng-model="statisticCtrl.pagination.page" items-per-page="statisticCtrl.pagination.itemsPerPage" max-size="statisticCtrl.pagination.maxSize" boundary-links="{{statisticCtrl.pagination.numPages > 2}}" rotate="false" num-pages="statisticCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="statisticCtrl.pageChanged()"></pagination> -->
</div>
	