<link href="assets/css/layout.css" rel="stylesheet" type="text/css" >
<!-- 内容部分max-width:1280px;min-width:? -->
<div class="hasNav nav" ng-controller="NavbarCtrl as navbarCtrl">
	<div class="body htmSize ">
		<div class="logo">
			<img ng-src="{{navbarCtrl.logo?(navbarCtrl.imageFile+navbarCtrl.logo):'assets/images/logo.png'}}">
		</div>
		<div class="navList">
			<div class="title " ng-repeat="menu in navbarCtrl.menu" ng-mouseover="menu.showContent=true" ng-mouseout="menu.showContent=false">
				<div ><span ui-sref="{{menu.state}}" ng-bind="menu.title" class="blackAlpha54 pointer {{menu.style}}"></span><span ></span><img src="assets/images/arrB.png"  style="margin-left:5px;" ng-if="menu.content.length>0"></div> <!-- ng-mouseover="menu.showContent=true" -->
				<ul ng-if="menu.content" ng-show="menu.showContent"> 
					<li ng-repeat="content in menu.content"><div class="blackAlpha54 pointer {{content.style}}" ng-bind="content.title" ui-sref="{{content.state}}" ng-click="menu.showContent=false"></div></li>
				</ul>
				
			</div>
		</div>
		<div class="user pointer" ng-click="navbarCtrl.openShowOther()"></div>
		<div class="others" ng-show="navbarCtrl.showOther">
			<div class="all pointer" ui-sref="restaurant-personals-view">餐厅设置</div>
			<div class="all pointer"><a href="" onfocus="this.blur()" ng-click="changePack('english')"><loader>英文</loader></a></div>
			<div class="all pointer"><a href="" onfocus="this.blur()" ng-click="changePack('chinese')"><loader>chinese</loader></a></div>
			<div class="all pointer" ng-click="navbarCtrl.logout()">登出</div>
		</div>
		<div style="clear:both"></div>
	</div>
	
</div>
<style type="text/css">
	.user{
		/*border:1px solid red;*/
		/*height: 75px;*/
		background: url(assets/images/admin.png) no-repeat 0px 5px;
	}
	.others{
		position: absolute;
		top:74px;
		right:0;
		width: 160px;
		height: 178px;
		border:1px solid #ccc;
		z-index: 999;
	}
	.all{
		width: 158px;
		height: 44px;
		line-height: 44px;
		text-align: center;
		background-color: #fff;
	}
	.all:hover{
		background-color: #FBEBEB;
	}
	.all:active{
		background-color: #FBEBEB;
	}
</style>