<link href="assets/css/customer/integral_record.css" rel="stylesheet" type="text/css" >
<div ng-include="'components/navbar/navbar.html'"></div>
 
<!-- 内容部分max-width:1280px;min-width:? -->

<div class="content ">
	<div class="content_body htmSize">
	<!-- 这里开始显示不同页面 -->
		<div class="header">
			<span class="sub_nav blackAlpha54 pointer" ui-sref="restaurant-customers-view">{{integralRecordCtrl.languagePack.restaurant.integral.customers}}</span>
			<span class="sub_nav blackAlpha54">></span>
			<span class="sub_nav blackAlpha54 pointer">{{integralRecordCtrl.languagePack.restaurant.integral.integralDetail}}</span>
		</div>

		<div>
			<div class="table_captions">
				<div class="table_caption time">{{integralRecordCtrl.languagePack.restaurant.integral.consumeTime}}</div>
				<div class="table_caption customer">{{integralRecordCtrl.languagePack.restaurant.integral.customer}}</div>
				<div class="table_caption integral">{{integralRecordCtrl.languagePack.restaurant.integral.integral}}</div>
				<div class="table_caption event">{{integralRecordCtrl.languagePack.restaurant.integral.event}}</div>
			</div>
			<div class="table_contents" ng-repeat="integral in integralRecordCtrl.integrals">
				<div class="table_content ellipsis time" ng-bind="integral.createDate | date:'MM/dd'">06/23</div>
				<div class="table_content ellipsis customer" ng-bind="integral._customer.name"></div>
				<div class="table_content ellipsis integral" ng-bind="integral.finalIntegral">200</div>
				<div class="table_content ellipsis event" ng-bind="integral.event"></div>
			</div>
		</div>
		<pagination style="float:right;" ng-if="integralRecordCtrl.pagination.numPages > 1" total-items="integralRecordCtrl.pagination.totalItems" ng-model="integralRecordCtrl.pagination.page" items-per-page="integralRecordCtrl.pagination.itemsPerPage" max-size="integralRecordCtrl.pagination.maxSize" boundary-links="{{integralRecordCtrl.pagination.numPages > 2}}" rotate="false" num-pages="integralRecordCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="integralRecordCtrl.pageChanged()"></pagination>
	</div>
	
</div>

	