<div ng-include="'components/navbar/navbar.html'"></div>
<link href="assets/css/printer/printer_edit.css" rel="stylesheet" type="text/css" >
<!-- 内容部分max-width:1280px;min-width:? -->
<div class="content ">
	<div class="content_body htmSize">
	<!-- 这里开始显示不同页面 -->
		<div class="header">
			<span class="sub_nav blackAlpha54 pointer" ui-sref="restaurant-printers-view">{{printerAddCtrl.languagePack.restaurant.printer.title}}</span>
			<span class="sub_nav blackAlpha54">></span>
			<span class="sub_nav blackAlpha54 pointer">{{printerAddCtrl.languagePack.restaurant.printer.addTitle}}</span>
		</div>

		<div style="background:#fff;padding-bottom:30px;">
			<div class="input_position">
				<div class="input_contents">
					<div class="input_content">
						<div class="input_name">{{printerAddCtrl.languagePack.restaurant.printer.name}}</div>
						<input type="input_value" class="input_value" ng-model="printerAddCtrl.printer.name" Placeholder="{{printerAddCtrl.languagePack.restaurant.printer.nameRemind}}">
					</div>

					<div class="input_content input_contentDiference">
						<div class="input_name">{{printerAddCtrl.languagePack.restaurant.printer.task}}</div>
						<div class="taskchoose">
							<div>
								<div class="taskname">
									<div class="chooseno pointer" ng-if="!printerAddCtrl.isSelectOrder" ng-click="printerAddCtrl.isSelectOrder=!printerAddCtrl.isSelectOrder"></div>
									<div class="chooseyes pointer" ng-if="printerAddCtrl.isSelectOrder" ng-click="printerAddCtrl.isSelectOrder=!printerAddCtrl.isSelectOrder"></div>
									<div class="choosename blackAlpha85 ellipsis">{{printerAddCtrl.languagePack.restaurant.printer.order}}</div>
									<div style="clear:both"></div>
								</div>
								<div style="clear:both"></div>

								<div class="taskname">
									<div class="chooseno pointer" ng-if="!printerAddCtrl.isSelectPanAndSoup" ng-click="printerAddCtrl.isSelectPanAndSoup=!printerAddCtrl.isSelectPanAndSoup"></div>
									<div class="chooseyes pointer" ng-if="printerAddCtrl.isSelectPanAndSoup" ng-click="printerAddCtrl.isSelectPanAndSoup=!printerAddCtrl.isSelectPanAndSoup"></div>
									<div class="choosename blackAlpha85 ellipsis">{{printerAddCtrl.languagePack.restaurant.printer.panSoup}}</div>
									<div style="clear:both"></div>
								</div>
								<div style="clear:both"></div>

								<div class="taskname">
									<div class="chooseno pointer" ng-if="!printerAddCtrl.isSelectReduce" ng-click="printerAddCtrl.isSelectReduce=!printerAddCtrl.isSelectReduce"></div>
									<div class="chooseyes pointer" ng-if="printerAddCtrl.isSelectReduce" ng-click="printerAddCtrl.isSelectReduce=!printerAddCtrl.isSelectReduce"></div>
									<div class="choosename blackAlpha85 ellipsis">退菜、催菜</div>
									<div style="clear:both"></div>
								</div>
								<div style="clear:both"></div>
								
								<div class="taskname" style="float:left">
									<div class="chooseno pointer" ng-if="!printerAddCtrl.isSelectProduct" ng-click="printerAddCtrl.isSelectProduct=!printerAddCtrl.isSelectProduct"></div>
									<div class="chooseyes pointer" ng-if="printerAddCtrl.isSelectProduct" ng-click="printerAddCtrl.isSelectProduct=!printerAddCtrl.isSelectProduct"></div>
									<div class="choosename blackAlpha85 ellipsis">{{printerAddCtrl.languagePack.restaurant.printer.product}}</div>
								</div>
								<div class="taskcatrgories">
									<div class="taskcatrgory pointer {{category.isSelect}}" ng-repeat="category in printerAddCtrl.categories" ng-bind="category.showName" ng-click="printerAddCtrl.isSelectProductCategory(category)">标准</div>
								</div>
							</div>
							<div style="clear:both"></div>
						</div>
					</div>
					<div style="clear:both"></div>

				</div>
				<div style="clear:both"></div>
				<div class="btns">
					<div class="save_btn" ng-click="printerAddCtrl.save()"></div>
					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>