/*header*/
.header{
	/*border:1px solid red;*/
	height: 60px;
}
.sort{
	/*margin-top: 28px;*/
	width: 180px;
	height: 40px;
	border:1px solid #ccc;
}
.sortword{
	/*border:1px solid red;*/
	float: left;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
}
.sortimg{
	float: left;
	margin-top: 10px;
	width: 15px;
	height: 17px;
	background: url(../../images/calendar.png) no-repeat;
}
.width16{
	width: 16%;
}
.width14{
	width: 14%;
}
.textIndent20{
	text-indent: 20px;
}
/*.time{
	width: 15%;
	text-indent: 30px;
}
.tablenum{
	width: 16%;
}
.consume{
	width: 18%;
}
.customer{
	width: 17%;
}
.staff{
	width: 25%;
}
.detail{
	width: 9%;
}*/
.datepickerPosition{
	position: absolute;
	z-index: 999;
	background: #fff;
}
.dateBox{
	float: left;
	margin-right:10px
}
.secondDate{
	left:190px;
}
